xset r rate 300 50 &
wal --theme base16-gruvbox-medium &
slstatus &
picom --no-fading-openclose &
/bin/sh ~/code/dotfiles/scripts/notify_battery.sh &
dunst &
fusuma -d
feh --bg-scale ~/Pictures/bg-arch.png &
