@import url("https://a-user-s-discord-themes.github.io/Couve/app/main.css");

/* Settings */
:root{
    /* Colors */
    --main-color: #419e85;

    /*Borders*/
    --avatar-radius: 5px;
}

/* Dark/Light vars */
.theme-dark{
    /*BGs*/
    --colornav: #060c24;
    --color1: #1e2337;
    --color2: #252a3e;
    --color3: #1c2438;
    --color4: #1b1d31;
    --colortransparency: #0003;
    /*Cards*/
    --card: #212332;
    /*Other stuff*/
    --textcolor: #fff;
    --epicshadow1: #fff3;
}

.role-2irmRk{
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  padding: 5px;
                     
}

.roleCircle-3xAZ1j::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  z-index: -1;
  pointer-events: none;
                                          
}

.theme-light{
    /*BGs*/
    --colornav: #fff;
    --color1: #f7f7f7;
    --color2: #fff;
    --color3: #fff;
    --color4: #eee;
    --colortransparency: #0001;
    /*Cards*/
    --card: #aaaaaa;
    /*Other stuff*/
    --textcolor: #000;
    --epicshadow1: #0003;
}
